<div class="container">
  <header><h5 class="header-title">WaltersCo System Health Service</h5></header>
  <main>
    <table class="center" *ngIf="status$ | async as status">
      <tr>
        <td></td>
        <th *ngFor="let region of regions" scope="col">{{region}}</th>
      </tr>
      <tr *ngFor="let app of apps">
        <th scope="row">{{app}}</th>
        <td *ngFor="let region of regions">
          <svg height="10" width="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
            <circle cx="5" cy="5" r="5" [style.fill]="getStatus(region, app)"/>
          </svg>
        </td>
      </tr>
    </table>
    <!-- TABLE GOES HERE -->
    <!-- sidenav for create/update/delete options? -->
  </main>
  <footer><h6 class="footer-title">Created with love by the AWS CDK team</h6></footer>
</div>
